<!DOCTYPE html>
<html lang="en">
  <%- include('./_partials/head.ejs') %>
  <body>
    <main id="<%- `page-${page.url.split('/')[1] || 'about'}` %>">
      <ul class="color-switcher"></ul>
      <%- include('./_partials/nav.ejs') %>

      <% if (page.url !== '/') { %>
        <header>
          <h1><%- page.headerTitle %></h1>
          <p><%- page.headerSubtitle %></p>
        </header>
      <% } %>

      <%- content %>
    </main>
    <footer>&copy; 2020 John Doe</footer>
  </body>
</html>
