---
page:
  title: Curriculum Vitae
  headerTitle: Curriculum Vitae
  headerSubtitle: 3yr experience passionate full-stack engineer hungry for growth.
---

<div class="education-and-experience clearfix">
  <section class="education">
    <h2>Education</h2>
    <% for (let degree of educationMilestones) { %>
      <article>
        <span class="year"><%- degree.graduation %></span>
        <span class="school"><%- degree.school %></span>
        <h3><%- degree.program %></h3>
        <p><%- degree.description %></p>
      </article>
    <% } %>
  </section>

  <section class="experience">
    <h2>Experience</h2>
    <% for (let job of workExperiences) { %>
      <article>
        <span class="duration"><%- job.duration %></span>
        <span class="company"><%- job.company %></span>
        <h3><%- job.role %></h3>
        <p><%- job.description %></p>
      </article>
    <% } %>
  </section>
</div>

<section class="skills clearfix">
  <% for (let skillCategory in skills) { %>
    <div class="skill-category">
      <h3><%- skillCategory %></h3>
      <% for (let [skill, score] of Object.entries(skills[skillCategory])) { %>
        <div class="skill">
          <p><%- skill %></p>
          <div
            class="progress"
            data-value="<%- score * 10 %>"
          ></div>
        </div>
      <% } %>
    </div>
  <% } %>
</section>